.input-password-container {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.input-password {
    flex: 1;
    height: 100%;
    padding: 0 10px;
    border: none;
    font-size: 16px;
    outline: none;
}

.button-icon {
    width: 40px;
    height: 100%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}